/* 通用重置和基础样式 */
@import "./font-family.css";

:root {
    --color-primary-0f: #fb72990f;

    /* --color-primary: oklch(72.566% 0.17069 4.4542);
    --color-primary-50: oklch(97.435% 0.01346 0.25383);
    --color-primary-100: oklch(95.25% 0.02411 358.28);
    --color-primary-200: oklch(91.107% 0.04823 358.6);
    --color-primary-300: oklch(86.951% 0.0718 359.99);
    --color-primary-400: oklch(83.232% 0.09601 1.1852);
    --color-primary-500: oklch(79.406% 0.12101 1.7634);
    --color-primary-600: oklch(75.894% 0.14668 3.373);
    --color-primary-700: oklch(72.566% 0.17069 4.4542);
    --color-primary-800: oklch(69.574% 0.19291 5.8639);
    --color-primary-900: oklch(67.118% 0.21299 8.1541);
    --color-primary-950: oklch(66.081% 0.22168 9.2391); */
    --color-primary: oklch(72.118% 0.17434 4.6237);
    --color-primary-50: oklch(98.921% 0.00548 3.3339);
    --color-primary-100: oklch(96.614% 0.01843 356.42);
    --color-primary-200: oklch(92.119% 0.04192 359.34);
    --color-primary-300: oklch(87.574% 0.06833 358.92);
    --color-primary-400: oklch(83.432% 0.09481 0.91169);
    --color-primary-500: oklch(79.406% 0.12101 1.7634);
    --color-primary-600: oklch(75.718% 0.14788 3.5877);
    --color-primary-700: oklch(72.118% 0.17434 4.6237);
    /* --color-primary-800: oklch(70.529% 0.18714 5.6012); */
    --color-primary-800: oklch(69.574% 0.19291 5.8639);
    --color-primary-900: oklch(68.911% 0.1982 6.5103);
    /* --color-primary-950: oklch(68.276% 0.20329 7.1683); */
    --color-primary-950: oklch(66.081% 0.22168 9.2391);



    --color-primary-disabled: var(--color-primary-200);
    --color-primary-hover: var(--color-primary-800);
    --color-primary-active: var(--color-primary-900);
    --color-primary-text: #fff;
    --color-primary-text-disabled: var(--color-primary-text);

    --color-secondary: oklch(70.645% 0.14612 233.1);
    --color-secondary-50: oklch(97.205% 0.01869 222.16);
    --color-secondary-100: oklch(94.886% 0.03466 221.88);
    --color-secondary-200: oklch(90.388% 0.06622 221.86);
    --color-secondary-300: oklch(86.223% 0.09496 222.67);
    --color-secondary-400: oklch(82.459% 0.11938 224.22);
    --color-secondary-500: oklch(78.943% 0.13807 227.44);
    --color-secondary-600: oklch(76.104% 0.15071 231.02);
    --color-secondary-700: oklch(70.645% 0.14612 233.1);
    --color-secondary-800: oklch(68.498% 0.14112 232.79);
    --color-secondary-900: oklch(66.385% 0.13699 232.92);
    --color-secondary-950: oklch(65.177% 0.13475 233.07);


    /* #53a4ff27转换为rgba */
    --color-secondary-hover: var(--color-secondary-800);
    /* #53a4ff4d转换为rgba */
    --color-secondary-active: var(--color-secondary-900);
    /* #53a4ff99转换为rgba */
    --color-secondary-disabled: var(--color-secondary-200);
    /* #53a4ff1a转换为rgba */
    --color-secondary-text: #fff;
    --color-secondary-text-disabled: #fff;


    --color-text: #333333;
    --color-text-gray: #666;
    --color-text-disabled: #9ca3af;
    --color-surface: rgb(247, 247, 250);
    --color-surface-border: #efefef;
    --color-bg: #fff;
    --color-border: #d1d5db;

    --color-bubble-user-bg: #efefef;
    --color-bubble-user-text: #1F2937;
    --color-bubble-user-border: #efefef;
    --color-bubble-assitant-bg: none;
    --color-bubble-assitant-text: #1F2937;
    --color-bubble-assitant-border: none;
    /* 聊天对话样式 */
    --color-conversation-bg: #fff;
    --color-conversation-text: #333;
    --color-conversation-border: #efefef;
    --color-conversation-bg-active: var(--color-primary-100);
    --color-conversation-text-active: var(--color-primary);
    --color-conversation-bg-hover: var(--color-primary-100);
    --color-conversation-text-hover: var(--color-primary);

    --size-text-base: 16px;
    --size-text-sm: 14px;

    /* --color-gray-50: #f9fafb;
    --color-gray-100: #f3f4f6;
    --color-gray-200: #e5e7eb;
    --color-gray-300: #d1d5db;
    --color-gray-400: #9ca3af;
    --color-gray-500: #6b7280;
    --color-gray-600: #4b5563;
    --color-gray-700: #374151;
    --color-gray-800: #1f2937;
    --color-gray-900: #111827;
    --color-gray-950: #030712; */
}

html.dark {
    /* 主色调调整（在暗色模式下可以稍微调整饱和度） */
    --color-primary: #ff85a7;
    --color-primary-hover: color-mix(in srgb, var(--color-primary) 80%, white);
    --color-primary-active: color-mix(in srgb, var(--color-primary) 60%, white);
    --color-primary-50: color-mix(in srgb, var(--color-primary) 5%, #1a1a1a);
    --color-primary-100: color-mix(in srgb, var(--color-primary) 10%, #1a1a1a);
    --color-primary-200: color-mix(in srgb, var(--color-primary) 20%, #1a1a1a);
    --color-primary-300: color-mix(in srgb, var(--color-primary) 30%, #1a1a1a);
    --color-primary-500: color-mix(in srgb, var(--color-primary) 50%, #1a1a1a);
    --color-primary-700: color-mix(in srgb, var(--color-primary) 70%, #1a1a1a);
    --color-primary-900: color-mix(in srgb, var(--color-primary) 90%, #1a1a1a);
    --color-primary-text-disabled: rgba(245, 245, 245, 0.5);
    --color-primary-disabled: color-mix(in srgb, var(--color-primary) 40%, #1a1a1a);

    /* 次要颜色 */
    --color-secondary: #37415190;
    --color-secondary-hover: color-mix(in srgb, var(--color-secondary) 90%, white);
    --color-secondary-active: color-mix(in srgb, var(--color-secondary) 70%, white);
    --color-secondary-disabled: color-mix(in srgb, var(--color-secondary) 40%, #1a1a1a);
    --color-secondary-text: #d4d4d4;
    --color-secondary-text-disabled: rgba(245, 245, 245, 0.5);

    /* 对话样式 */
    --color-conversation-bg: #252526;
    --color-conversation-bg-hover: var(--color-primary-100);
    --color-conversation-bg-active: var(--color-primary-100);
    --color-conversation-text: #e5e7eb;
    --color-conversation-border: #252526;
    --color-conversation-text-active: var(--color-primary);
    --color-conversation-text-hover: var(--color-primary);

    /* 气泡颜色 */
    --color-bubble-user-bg: #374151;
    --color-bubble-user-text: #d4d4d4;
    --color-bubble-user-border: #4b5563;
    --color-bubble-assitant-bg: none;
    --color-bubble-assitant-text: #d4d4d4;
    --color-bubble-assitant-border: #374151;

    --color-surface: #1f2937;
    --color-text: #f7f7f7;
    /* 
    --color-gray-50: #111827;
    --color-gray-100: #1f2937;
    --color-gray-200: #374151;
    --color-gray-300: #4b5563;
    --color-gray-400: #6b7280;
    --color-gray-500: #9ca3af;
    --color-gray-600: #d1d5db;
    --color-gray-700: #e5e7eb;
    --color-gray-800: #f3f4f6;
    --color-gray-900: #f9fafb;
    --color-gray-950: #ffffff; */
}

:root {
    --el-color-primary: var(--color-primary) !important;
    --el-color-primary-light-9: var(--color-primary-100) !important;
    --el-color-primary-light-8: var(--color-primary-200) !important;
    --el-color-primary-light-7: var(--color-primary-300) !important;
    --el-color-primary-light-5: var(--color-primary-500) !important;
    --el-color-primary-light-3: var(--color-primary-800) !important;
    --el-color-primary-dark-2: var(--color-primary-950) !important;
    --el-color-primary-light-1: var(--color-primary-950) !important;
}

html.dark {
    --el-color-primary: var(--color-primary) !important;
    --el-color-primary-light-9: var(--color-primary-100) !important;
    --el-color-primary-light-8: var(--color-primary-200) !important;
    --el-color-primary-light-7: var(--color-primary-300) !important;
    --el-color-primary-light-5: var(--color-primary-500) !important;
    --el-color-primary-light-3: var(--color-primary-800) !important;
    --el-color-primary-dark-2: var(--color-primary-950) !important;
    --el-color-primary-light-1: var(--color-primary-950) !important;
}

/* .el-button:not(.el-button--large) {
    height: 28px;
}

.el-button.is-circle {
    width: 28px;
} */

.el-button,
.el-button.is-round {
    padding: 6px 15px;
}

/* @theme {
    --color-primary: var(--color-primary);
    --color-primary-50: var(--color-primary-50);
    --color-primary-100: var(--color-primary-100);
    --color-primary-200: var(--color-primary-200);
    --color-primary-300: var(--color-primary-300);
    --color-primary-400: var(--color-primary-400);
    --color-primary-500: var(--color-primary-500);
    --color-primary-600: var(--color-primary-600);
    --color-primary-700: var(--color-primary-700);
    --color-primary-800: var(--color-primary-800);
    --color-primary-900: var(--color-primary-900);

    --color-surface: var(--color-surface);
} */




* {
    box-sizing: border-box;
}

body {
    color: #222;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
    overflow: hidden;
    transition: background-color 0.3s, color 0.3s;
}

.dark body {
    color: #fff;
    background: #1e1e1e;
}

body,
html,
#app,
.n-config-provider {
    width: 100%;
    height: 100%;
}

/* 布局结构 */
.container {
    display: flex;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    gap: 0;
}

.app-text-light-color {
    color: var(--primary-text-light-color);
}

#nprogress {
    z-index: 9999 !important;
    position: fixed !important;
}

/* 修改进度条颜色 */
#nprogress .bar {
    background: var(--color-primary) !important;
    /* 红色 */
    height: 3px !important;
}

/* 修改进度条尖角阴影 */
#nprogress .peg {
    box-shadow: 0 0 10px var(--color-primary), 0 0 5px var(--color-primary) !important;
}

/* 修改圆形加载器颜色（如果启用） */
#nprogress .spinner-icon {
    border-top-color: var(--color-primary) !important;
    border-left-color: var(--color-primary) !important;
}

.el-message-box__message {
    width: 100%;
}

/* 动画效果 */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}